name: Test

on: push

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        # Follow package.json engine field
        node-version: [12.x, 13.x, 14.x]

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          cache: 'npm'
          cache-dependency-path: package-lock.json
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm ci

      - name: Test
        run: npm run test
